@import url('https://use.typekit.net/sqr3bqz.css');


main, body {
    margin:0px;
    padding:0px;
}


header {
    margin: 60px 80px 0px;
    display: flex;
    justify-content:end;
}

  
.recent-work, .stalk-me {
  color: white;
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 18px;
  font-family: hoss-round, sans-serif;
}


/* main */


.intro {
    font-family: Helvetica Neue, Arial Narrow;
    font-weight: normal;
    font-size: 40px;
}

h1 {
    font-family: hoss-round, sans-serif;
    font-weight: 100;
    font-size: 25px;
}

h2{
    font-size: 18px;
    font-family: hoss-round, sans-serif;
    margin-bottom: 60px;
    font-weight: 400;
}

hr {
    background-color: #131313;
    height: 3px;
    border: none;
    margin: 0px;
    padding:0px;
}


span {
    color: #131313;
    font-weight:800;
}

.buttons {
    margin: 35px -25px;
    padding: 0;
}

.buttons a{
    color: #131313;
    font-family: hoss-round, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.about {
    margin: 120px 220px 170px 220px;
}

.work {
    margin: 80px 220px;
}



/* skills 
.skills {
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 80px 220px;
}

p { 
    font-family: Helvetica Neue, Arial Narrow;
    font-size: 25px;
    margin: 4px;
}

.skill-random {
    transform: skewX(-10deg);    
    border: 1px solid #131313;
    padding: .5rem 1rem .5rem 1rem;
    text-transform: uppercase;
}

.skill{
    border-radius: 16px;  
    border: 1px solid #131313;
    padding: .5rem 1rem .5rem 1rem;
    text-transform: uppercase;
}

.skill-highlight{
    border-radius: 16px; 
    background-color: black;
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    text-transform: uppercase;
}

/* Work */


.circle-work-container {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}


.circle-work {
    background-color: #131313;
    border-radius: 40% 60% 0% 0%;
    position: relative;
    left: -100px;
    height: 120%;
    width: 120%;
}

.work {
  padding: 250px 100px 100px 0;
  position: absolute;
  left: 100px;
}

.margin-top {
    margin-top:25px;
}

.work-link {
    text-decoration: none;
}


.work-link p  {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 8px;
    font-family: Helvetica Neue, Arial Narrow;
    font-weight: 400;
}

h4{
    font-size: 25px;
    color: white;
    font-family: Helvetica Neue, Arial Narrow;
    margin: 0px;
    position: relative;
    display: inline-block;
}


h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
h4:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

a:visited {
    color: #131313;

}


/* float buttons 

.floater {
    position: fixed;
    margin: 40px;
    bottom:0;
    max-width: 8%;
}

.floater img {
    display: block;
    margin-top: 7px;
    width: 40%;
    object-fit: cover;
}

/* footer */


.footer {
    background-color: #131313;
    color: white;
    padding: 100px 120px;
    font-family: Helvetica Neue, Arial Narrow;
    position: relative;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .contact-info {
    width: 30%;
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding-left: 100px;

  }

  .circles {
    display: flex;
  }
  
  .right-section {
    text-align: right;
  }
  
  .name {
    font-weight: bold;
    font-size: 60px;
  }
  
  .website {
    font-size: 20px;
    color: #474747;
    text-align: right;
    margin-left: 50%;

  }
  
.links{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
}


.links::after {
    color: white;
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.links:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

 
/* footer white */

.footer-white {
  color: black;
  padding: 100px 120px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
  z-index: 2;
  background-color: white;

}

.website-white {
  font-size: 20px;
  color: grey;
  text-align: right;
  margin-left: 50%;

}

.links-white{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.links-white::after {
  color: black;
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links-white:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}



/* cursor */










/* Work pages */

/* Global: back button */

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: black;
        position: relative;    
        font-family: hoss-round, sans-serif;
        text-decoration: none;
        font-size: 20px;
        color: #131313;
        top: 2rem;
        left: 2rem;
      }
      
      .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .hover-underline-animation-black {
        position: absolute;
        color: white;
        font-family: hoss-round, sans-serif;
        text-decoration: none;
        font-size: 20px;
        top: 2rem;
        left: 2rem;
      }

      .hover-underline-animation-black::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation-black:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

    .color a{
        color: white;
    }


    .hover-underline-animation-alllinks {
        display: inline-block;
        color: black;
        position: relative;    
        font-family: Helvetica Neue, Arial Narrow;
        text-decoration: none;
        font-size: 20px;
        color: #131313;
      }
      
      .hover-underline-animation-alllinks::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation-alllinks:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

    .color a{
        color: white;
    }

    .section01-black a{
        color: white;
    }

/* Global: work pages - sideways */

    p { 
      font-family: Helvetica Neue, Arial Narrow;
      font-size: 25px;
      margin: 4px;
  }


/*  */

.section01 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.header-pf {
    font-family: hoss-round, sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.header2-pf {
    font-family: Helvetica Neue, Arial Narrow;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2%;

}

.subscr-pf {
    font-family: Helvetica Neue, Arial Narrow;
    font-size: 25px;
    margin-right: 25% ;
    margin-left: 25% ;
}




video {
    width: 100%;

}


  /* 03 Kiteboardschool */

  .section01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
    margin: 120px 220px;
  }

  .header01 {
    color:#656565
  }

  .titel01 {
    font-family: Helvetica Neue, Arial Narrow;
    font-size: 100px;
    margin: 0 0 30px;
  }

  .kbs-live {
    left:1rem;
    border: 1px solid black;
    padding: .5rem 1.5rem;
    font-family: Helvetica Neue, Arial Narrow;
  }

  .invisible {
    visibility: hidden;
    padding-bottom: 5px;
  }

   /* 03 Kiteboardschool - what i did*/

  .section02 {
    margin: 200px 220px;
  }

  .title02 {
    font-family: hoss-round, sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 20px;
  }

  /* 03 Kiteboardschool - the result*/


  .video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Set the aspect ratio of the video (16:9 in this example) */
    overflow: hidden;
    position: relative;
  }
  
  .video-container video {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 2.5s;
  }
  
  .video-container.video-active video {
    transform: translate(-50%, -50%) scale(1.25); /* Set the desired scale when the video is active */
  }
  

/* Animate */
.line-container {
    position: relative;
    top:5%;
    width: 100%;
    height: 2px; 
    overflow: hidden;
  }

.line {
    width: 0;
    height: 100%;
    background-color: black; 
    animation: lineAnimation 1s ease-in-out forwards;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

  /*  */

  .animate-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.9s;
  }
  
  .animate-section.animate {
    opacity: 1;
    transform: translateY(0);
  }


  /*  */

  .animated-element-left {
    margin-left: 2%;
    position: relative;
    left: -100%; 
    animation: slideInFromLeft 1s forwards;
  }
  
  @keyframes slideInFromLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  /* 02 ITP */
  /* Slide In 
.slide-in-left {
    display: inline;
    width: 100%;
    height: 2px; 
    overflow: hidden;
    position: sticky;
  }

.slide-in {
    width: 0;
    height: 70%;
    background-color:  #131313; 
    animation: lineAnimation 1s ease-in-out forwards;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* 02  */

.section01-black {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    text-align: left;
    padding: 200px 220px;
    background-color: #131313;
    position: fixed;
    z-index: 1;
}

  .header01-black {
    color:#474747
  }

  .titel01-black {
    font-family: Helvetica Neue, Arial Narrow;
    font-size: 100px;
    margin: 0;
    margin-bottom:40px;
    color: white;
  }

  .meta-black {
    color: white;
  }

  .meta-black div{
    margin-bottom: 25px;
  }

  .meta div{
    margin-bottom: 25px;
  }

  .invisible {
    background-color:  #131313;
    padding-bottom: 5px;
  }

/* 02 - what i did*/

   .section02-black {
    position: relative;
    top: 70vh;
    padding: 200px 220px;
    background-color: white;
    z-index: 2;
    margin-bottom: 600px;

  }

  .title02 {
    font-family: hoss-round, sans-serif;
    font-size: 18px;
    font-weight: 200;
  }


/* 02 - the video*/

.result {
  position: relative;
  margin-top: 200px;
}

.border {
  border: 10px solid #131313;
  border-radius: 10px;
  overflow: hidden;
}

/* Zorgt ervoor dat eerste section niet terug komt*/

.sideways {
  position: absolute;
  left: -7%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 18px;
  color: #474747;
  height: 100%;
}

.section-work {
  position: relative;
}


/* 02 - Filter Bubble*/


/* 02 - Top*/

/* 02 - Top*/

/* 02 - Video*/

.margin-top-vid {
  margin-top: 50px;
}










/* blog - welcome to my mind */
/* blog - hexagon 
  .hexagon {
    width: 100px;
    height: 55px;
    background-color: #131313;
    position: relative;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 27.5px solid #131313;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 27.5px solid #131313;
  }

/* blog - circle 
.circle {
    width: 200px;
    height: 200px;
    background-color: #131313;
    border-radius: 50%;
  }

/* blog - heptagon 
.heptagon {
    width: 200px;
    height: 200px;
    background-color: #131313;
    position: relative;
    transform: rotate(90deg);
  }
  
  .heptagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid #131313;
    transform: translateX(-50%);
  }
  
  .heptagon:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 173.2px solid #131313;
    transform: translateX(-50%);
  }


/* Styles for mobile devices  */
@media (max-width: 767px) {

    .about {
        margin: 0px 20px 0 20px;
        padding: 0 20px 0 20px;
    }

    .intro {
      font-size: 25px;
    }
    
     /*Work*/

     .circle-work-container {
      height: auto;
      margin-top: 5rem;
    }
  
    .circle-work {
      border-radius: 0;
      left: 0;
      height: auto;
      width: 100%;
    }
  
    .work {
      padding: 80px 20px;
      position: static;
      margin: 20px 20px 0 20px;
    }

    .work-link p {
      margin: 0;
      padding:0;
      margin-top: 1rem;
    }
  
    .margin-top {
      margin-top: 15px;
    }
  
    h4 {
      font-size: 20px;
    }

    h4::after {
    bottom: -1px;
  }

  /*Workpages- abput&result*/

  .section02{
    padding: 100px 40px;
    margin: 0;
  }

  .title02 {
    font-size: 14px;
  }

  .result {
    margin-top: 100px;
    
  }

  .border {
    border-width: 5px;
    border-radius: 5px;
  }

  .sideways {
    position: relative;
    left: 0;
    height: auto;
    writing-mode:horizontal-tb;
    font-size: 14px;

  }

  /*Workpages- top part*/
  .back {
    margin-left: 50px;

  }
  .section01 {
    display: block;
    margin: 100px 50px 50px 50px;
  }

  .meta {
    margin-top: 2rem;
  }

  .meta01, .header01, .header01-black {
    padding: 0;
    margin: 0;
    margin-bottom: .2rem;
  }

  .header01{
    text-align: left;
  }

  .titel01 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  /*Workpages- KBS*/

  .kbs-live {
    margin-top: 20px;
    display: block;
    text-align: center;
    left: 0;
  }

  /*Workpages- ITP*/

  .section01-black {
    grid-template-columns: 1fr;
    padding: 100px 40px;

}

 .titel01-black {
    font-size: 35px;
    margin-bottom: 15px;
}

.section02-black {
  top: 90vh;
  padding: 100px 40px;
}

  

     /*footer*/

     .footer {
      padding: 50px 60px;
    }

    .footer-white {
      padding: 50px 60px;

    }
  
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-info {
      width: 100%;
      padding: 0;
      text-align: right;
      margin-bottom: 20px;
    }
  
    .name {
      font-size: 40px;
    }
  
    .website {
      font-size: 18px;
      margin-left: 0;
      text-align: center;
    }
  }

  
  
  
